* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: lightgray;
	gap: 5px;
}

#header-and-sort {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	width: 100%;
	height: 15vh;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 300px;
	height: 50px;
	font-size: 25px;
}

footer {
	background-color: #abd699;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 100%;
	font-size: 20px;
}
#add-book {
	height: 50px;
	width: 120px;
	font-size: 20px;
	background-color: #ffe26a;
}

#sort-container {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 80%;
	background-color: #ffe26a;
	padding: 20px;
	height: 5vh;
	font-size: 20px;
}

#sort,
#apply-sort {
	font-size: 20px;
}

#apply-sort {
	padding: 4px;
}

#cards-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	padding: 10px;
}

.cards {
	width: 60%;
	border: 1px solid black;
	padding: 20px;
}

.read-card,
#read-color {
	background-color: #79c9b7;
}

.unread-card,
#unread-color {
	background-color: #c7ddcc;
}

.title-card {
	font-size: 45px;
	font-weight: 700;
}

.author-card,
.genre-card,
.page-card,
.status-card {
	font-size: 30px;
}

#status-counter {
	display: flex;
	margin-left: auto;
	gap: 8px;
}

#read-color,
#unread-color {
	text-align: center;
	width: 30px;
}

.modal-box {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modal-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid gray;
}

#close-button,
.delete-card {
	display: flex;
	justify-content: center;
	align-items: center;
	background: inherit;
	border-radius: 50%;
	color: black;
	font-weight: 400;
	font-size: 16px;
	height: 24px;
	width: 24px;
	cursor: pointer;
}

#close-button:hover,
.delete-card:hover {
	background-color: lightgray;
}

.first-row-card-content {
	display: flex;
	justify-content: space-between;
}

.second-row-card-content {
	display: flex;
}

.first-column-card-content {
	flex: 2;
	display: flex;
	flex-flow: column;
	gap: 3px;
}

.second-column-card-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mark-status-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	width: 50%;
	font-size: 20px;
	padding: 15px;
	border: inline;
	background-color: #eee;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.text-field {
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding: 5px;
	border: black solid 1px;
}

#add-book-btn {
	background-color: green;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
